# DSCI 303 - Homework 03
**Vincent Regazzi**

## Problem 1: Calculating Exam Scores

In [1]:
correct = ['D','B','C','A','C','D','A','C','C','B','D','A','B','D','C','D','C','D','C','A','B','D','C','B','A']
answers1 = ['A','B','C','A','B','D','A','A','C','B','D','A','D','C','C','B','C','D','B','A','D','D','C','C','A']
answers2 = ['D','A','C','A','B','D','A','C','C','B','D','A','B','D','A','D','C','D','C','A','B','C','C','B','A']
count1 = 0
count2 = 0
    
for answer in range(0, len(correct)):
    if correct[answer] == answers1[answer]:
        count1 += 1
    if correct[answer] == answers2[answer]:
        count2 += 1

grade1 = int(count1/.25)
grade2 = int(count2/.25)
print(f'Student 1 Grade: {grade1}%')
print(f'Student 2 Grade: {grade2}%')

Student 1 Grade: 64%
Student 2 Grade: 84%

## Problem 2: Calculating Price of a Bulk Order

In [2]:
quantities = [84, 100, 126, 150, 186, 200, 216, 248]
for i in range(0, len(quantities)):
    if quantities[i] <= 100:
        price = quantities[i] * 350
    elif quantities[i] <= 200:
        price = (quantities[i] - 100) * 300 + 35000
    else:
        price = (quantities[i] - 200) * 250 + 65000
    print(f'The cost for an order of {quantities[i]} widgets is ${price}.')

The cost for an order of 84 widgets is $29400.
The cost for an order of 100 widgets is $35000.
The cost for an order of 126 widgets is $42800.
The cost for an order of 150 widgets is $50000.
The cost for an order of 186 widgets is $60800.
The cost for an order of 200 widgets is $65000.
The cost for an order of 216 widgets is $69000.
The cost for an order of 248 widgets is $77000.

## Problem 3: Creating an Amortization Schedule

In [3]:
balance = 1000
i = .05
pmt = 150
n = 0

while balance != 0:
    balance = round(balance*(1+i) - pmt, 2)
    n += 1
    
    if balance < 0:
        final_payment = balance + 150
        balance = 0
    if balance == 0:
        print(f'The balance at the end of year {n} is $  0.00.')
    elif balance <= 100:
        print(f'The balance at the end of year {n} is $ {balance:<05}.')
    else:
        print(f'The balance at the end of year {n} is ${balance:<06}.')

The balance at the end of year 1 is $900.00.
The balance at the end of year 2 is $795.00.
The balance at the end of year 3 is $684.75.
The balance at the end of year 4 is $568.99.
The balance at the end of year 5 is $447.44.
The balance at the end of year 6 is $319.81.
The balance at the end of year 7 is $185.80.
The balance at the end of year 8 is $ 45.09.
The balance at the end of year 9 is $  0.00.

In [4]:
print(f'The amount of the final payment will be ${final_payment}.')

The amount of the final payment will be $47.34.

## Problem 4: Hailstone Sequences

In [5]:
hs15 = [15]
while hs15[-1] != 1:
    if hs15[-1] % 2 == 0:
        hs15.append(int(hs15[-1]/2))  
    else:
        hs15.append(hs15[-1]*3 + 1)
print(hs15)

hs17 = [17]
while hs17[-1] != 1:
    if hs17[-1] % 2 == 0:
        hs17.append(int(hs17[-1]/2))  
    else:
        hs17.append(hs17[-1]*3 + 1)
print(hs17)

hs22 = [22]
while hs22[-1] != 1:
    if hs22[-1] % 2 == 0:
        hs22.append(int(hs22[-1]/2))  
    else:
        hs22.append(hs22[-1]*3 + 1)
print(hs22)

[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

## Problem 5: Predator/Prey Model

In [6]:
r_pop = 1000
w_pop = 200
year = 0

print('Year     r_pop   w_pop ')
print('-'*23)
print(f'{year:<9}{r_pop:>4}    {w_pop:>3}')

while r_pop and w_pop > 0:
    r_pop_prev = r_pop
    w_pop_prev = w_pop
    
    r_pop = round(1.5 * r_pop_prev - 0.002 * r_pop_prev * w_pop_prev)
    w_pop = round(0.8 * w_pop_prev + .0003 * r_pop_prev * w_pop_prev)
    year += 1
    
    if r_pop < 0:
        r_pop = 0
    if w_pop < 0:
        w_pop = 0
        
    print(f'{year:<9}{r_pop:>4}    {w_pop:>3}')

Year     r_pop   w_pop
-----------------------
0        1000    200
1        1100    220
2        1166    249
3        1168    286
4        1084    329
5         913    370
6         694    397
7         490    400
8         343    379
9         255    342
10        208    300
11        187    259
12        184    222
13        194    190
14        217    163
15        255    141
16        311    124
17        389    111
18        497    102
19        644     97
20        841     96
21       1100    101
22       1428    114
23       1816    140
24       2216    188
25       2491    275
26       2366    426
27       1533    643
28        328    810
29          0    728

## Problem 6: Finding a Root of a Polynomial Function

In [7]:
x1 = 0
x2 = 5

val1 = (x1 ** 3) - (4 * x1 ** 2) + (3 * x1) - 4
val2 = (x2 ** 3) - (4 * x2 ** 2) + (3 * x2) - 4
n = 0

while abs(val1) and abs(val2) >= .000001:
    n += 1
    new_x = (x1 + x2) / 2
    new_val = (new_x ** 3) - (4 * new_x ** 2) + (3 * new_x) - 4
    if new_val < 0:
        x1 = new_x
        val1 = new_val
    else:
        x2 = new_x
        val2 = new_val

print(f'The approximate solution is x = {(x1+x2)/2}.')
print(f'The algorithm took {n} iterations to converge.')

The approximate solution is x = 3.467503860592842.
The algorithm took 25 iterations to converge.

## Problem 7: Grade Database

In [8]:
students = {
    146832:{'first':'Brendan', 'last':'Small'},
    147354:{'first':'Melissa', 'last':'Robbins'},
    149126:{'first':'Jason', 'last':'Penopolis'},
    149735:{'first':'Fenton', 'last':'Mulley'}
}
courses = {
    'ENGL 101':'Composition I',
    'ENGL 104':'Composition II',
    'MATH 117':'College Algebra',
    'MATH 151':'Calculus I',
    'CHEM 103':'General Chemistry I',
    'ECON 201':'Macroeconomics'
}
sid = [149126, 146832, 147354, 149735, 149126, 146832, 146832, 149735, 149126, 147354, 147354, 149735]
cid = ['ENGL 101', 'MATH 117', 'ENGL 104', 'CHEM 103', 'MATH 117', 'ECON 201', 'ENGL 101', 'ENGL 101', 'CHEM 103', 'ENGL 104', 'MATH 151', 'MATH 117']
grade = ['D', 'C', 'B', 'A', 'B', 'C', 'A', 'F', 'B', 'A', 'A', 'C']

In [9]:
print('SID      First     Last        CID        Course Name           Grade')
print('-'*69)
for q in range(0, len(sid)):
    s = sid[q]
    f = students[s]['first']
    l = students[s]['last']
    c = cid[q]
    cn = courses[c]
    g = grade[q]
    
    print(f"{s:<9}{f:<10}{l:<12}{c:<11}{cn:<22}{g:>5}")

SID      First     Last        CID        Course Name           Grade
---------------------------------------------------------------------
149126   Jason     Penopolis   ENGL 101   Composition I             D
146832   Brendan   Small       MATH 117   College Algebra           C
147354   Melissa   Robbins     ENGL 104   Composition II            B
149735   Fenton    Mulley      CHEM 103   General Chemistry I       A
149126   Jason     Penopolis   MATH 117   College Algebra           B
146832   Brendan   Small       ECON 201   Macroeconomics            C
146832   Brendan   Small       ENGL 101   Composition I             A
149735   Fenton    Mulley      ENGL 101   Composition I             F
149126   Jason     Penopolis   CHEM 103   General Chemistry I       B
147354   Melissa   Robbins     ENGL 104   Composition II            A
147354   Melissa   Robbins     MATH 151   Calculus I                A
149735   Fenton    Mulley      MATH 117   College Algebra           C

## Problem 8: Warehouse Inventory

In [10]:
prices = {'p101':37.52, 'p117':56.98, 'p122':43.72, 'p125':48.33, 'p126':52.45}
inventory = {
    'STL':{'p101':520, 'p117':315, 'p122':117, 'p125':258, 'p126':345}, 
    'CHI':{'p101':125, 'p117':864, 'p122':231, 'p125':612, 'p126':164}, 
    'KC' :{'p101':264, 'p117':285, 'p122':772, 'p125':467, 'p126':106}
}

In [11]:
total_inventory = {}
for prod_id in prices.keys():
    quantity = 0
    for site in inventory:
        quantity += inventory[site][prod_id]
    total_inventory[prod_id] = quantity
    print(f'{prod_id}: {quantity}')

p101: 909
p117: 1464
p122: 1120
p125: 1337
p126: 615

In [12]:
total_value = 0
for prod_id in prices.keys():
    total_value += prices[prod_id] * total_inventory[prod_id]
print(f'The total value of the inventory is ${total_value}')

The total value of the inventory is $263364.76